.dashboard-wrapper {
  margin: 20px;
  padding: 10px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.tasks {
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
  font-weight: 600;
  border-radius: 10px;
  background: linear-gradient(12deg, #9370db, #74b7d1);
}
b {
  padding: 5px;
}
.dashboard-wrapper.dark{
  background-color: rgb(70, 70, 70);
}